@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?eyju0h');
  src:  url('fonts/icomoon.eot?eyju0h#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?eyju0h') format('truetype'),
    url('fonts/icomoon.woff?eyju0h') format('woff'),
    url('fonts/icomoon.svg?eyju0h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-move-up:before {
  content: "\e900";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-search:before {
  content: "\e901";
}
.icon-search2:before {
  content: "\e903";
}
.icon-wechat:before {
  content: "\e902";
}


.container-tool{
    position: fixed;
  right: 0;
  bottom: 100px;
}
.toolsbar {
 display: block;
 position: relative;
 width: 52px;
 height: 52px;
 margin-top: 1px
}
.toolsbar:hover .toolbar-icon{
  top: -52px
}
.toolsbar:hover .toolbar-text{
  top: 0
}
.toolsbar:hover .toolbar-layer-weixin{
-webkit-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}
.toolsbar:hover .toolbar-layer-top{
-webkit-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}

.toolbar-btn {
overflow: hidden;
position:absolute;
width: 52px;
height: 52px
}
.toolbar-icon {
position: absolute;
left: 0;
top: 0;
width: 52px;
height: 52px;
background-color: #d0d6d9;
font-size: 30px;
color: #fff;
text-align: center;
line-height: 52px;
-webkit-transition: top 1s;
-o-transition: top 1s;
transition: top 1s;
}

.toolbar-text {
position: absolute;
left: 0;
top: 52px;
width: 52px;
height: 52px;
background-color: #98a1a6;
font-size: 12px;
color: #fff;
text-align: center;
line-height: 1.2;
padding-top: 12px;
-webkit-transition: top 1s;
-o-transition: top 1s;
transition: top 1s;
}
.toolbar-layer{
  position: absolute;
  width: 300px;
  height: 300px;
  bottom: 0;
  right: 52px;
  -webkit-transform: scale(0) ;
   -ms-transform: scale(0) ;
   -o-transform:  scale(0);
   transform: scale(0) ; 
   -webkit-transform-origin: right bottom;
   -moz-transform-origin: right bottom;
   -ms-transform-origin: right bottom;
   -o-transform-origin: right bottom;
   transform-origin: right bottom;
   -webkit-transition: all 1s;
   -o-transition: all 1s;
   transition: all 1s;
}
.toolbar-layer-weixin {
  
  background-image: url('../二维码.png');
  
}
.toolbar-layer-top {
    background-image: url('../二维码.png');
}
